body{
    background-color: rgb(223, 199, 168);
    margin: 0;
}

main{
    margin:auto;
    background-color: rgb(223, 199, 168);
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    position:sticky;
    top: 0;
    background: #F6F5EF;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 65px;
}


#header-id1{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

header ul{
    width: 100%;
    display: flex;
    list-style: none;
    height: 100%;
}


header a{
    font-size: 35px;
    width: 300px;
    height: 100%;
    text-align: center;
    color: black;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 글자를 세로 가운데 지정하는 방법 */
    /* line-height: 45px; */
    padding-right:16px;
    padding-left:16px;
    transition-duration: 0.1s;
}

#start{
    width: 300px;
    height: 100px;
    background: #4185b3;
    margin: auto;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start>a{
    text-decoration: none;
    color: black;
}

pre>a{
    text-decoration: none;
    color: rgb(17, 60, 250);
}

pre{
    /* font-family: 'NanumSquareLight'; */
/* font-family: 'NanumSquare'; */
/* font-family: 'NanumSquareBold'; */
/* font-family: 'NanumSquareExtraBold'; */
font-family: 'NanumSquareAcb';
/* font-family: 'NanumSquareAceb'; */
/* font-family: 'NanumSquareAcl'; */
/* font-family: 'NanumSquareAcr'; */
    font-size: 20px;
    letter-spacing: 2px;
}

header li:hover{
    background-color: #333333;
    color: rgb(255, 255, 255);
    transition-duration: 0.7s;
}

#myProfile{
    background-color: #333333;
    color: rgb(255, 255, 255);
}

header li>a:hover{
    color: rgb(255, 255, 255);
    transition-duration: 0.7s;
}

/* #myProfile{
    display: none;
}
#logoutBtn{
    display: none;
} */
/* 
#login{
    display: none;
} */

.myProfileH1{
    margin: 150px;
    font-size: 100px;
}

.myProfileList{
    font-size: 60px;
}

#modifyMyProfile{
    height: 300px;
    display: flex;
}

#modifyMyProfile>a{
    width: 300px;
    height: 100px;
    margin: auto;
    background: #4185b3;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}